Codes/noddi_orig_test1/
Data-NODDI_REV/
Data-NODDI/
.DS_Store
.idea/
Codes/datasets/
Codes/logs/
Codes/n45-scheme_b1000-conv3d.weights.data-00000-of-00001
Codes/n45-scheme_b1000-conv3d.weights.index
Codes/nii/
Codes/noddi_rev_1shell/
Codes/noddi_rev_test1/
Codes/noddi_rev_test_conv3d/
Codes/schemes/scheme_b1000
Codes/schemes/scheme_b2000
Codes/schemes/synth_2sh
Codes/schemes/synth_4sh
Codes/schemes/synth_b1000
Codes/utils/__pycache__/
Codes/weights/
Data-NODDI_REV_di.78/
IPMI/
NODDI_1shell_unifVSinvivo/
NODDI_2shell_unifVSinvivo/
get_results.m
res.png
rmse_vs_trainingSize.png
test1shell_conv3d/
test1shell_fc1d/
test1shell_fc1d_old/
test1shell_labels/
test1shell_old/
test2shell/
token.txt
type2dgrcy_test/
